<div class="container ">
  <br>
  <div class="text-left">
    <a class="btn btn-primary" id="createEvent" routerLink="/anunciante/painel/evento/formulario">Novo Evento
    </a>

  </div>
  <br />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="text-center">
        <tr>
          <th class="numeric">Logo</th>
          <th>Nome</th>
          <th>Data</th>
          <th>Descrição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <a routerLink="/evento/{{event.id}}">
            <img  width="45" height="45" src="{{event.photo }}" alt="">
          </a>
          </td>
          <td> {{event.name }} </td>
          <td> {{event.date }} </td>
          <td> {{event.description }} </td>
          <td><a (click)="deleteEvent(event.id)">  <i class="fa fa-trash" aria-hidden="true"></i></a></td>
          <td> <a routerLink="/anunciante/painel/evento/formulario">
           <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>