<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6>KNESSAPP</h6>
        Uma plataforma web e mobile util pra quem procura eventos e ao mesmo tempo uma ferramenta gerenciadora de eventos e para
        produtores e organizadores de eventos.
      </div>
      <div class="col-md-4">
        <h6>CONTATO</h6>

        <p><a href="#">Flavio Henrique</a></p>

        <p><a href="#">Anderson Silva</a></p>

        <p><a href="#">André andrade</a></p>

      </div>
      <div class="col-md-4">
        <h6>DOWNLOAD</h6>

        <p><a href="#">Android</a></p>

        <p><a href="#">IOS</a></p>

        <p><a href="#">Windows Phone</a></p>
      </div>
    </div>
  </div>

</footer>