<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Nova conta</h3>
            <hr>
            <form [formGroup]="advertiserForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="username">Nome</label>
                        <input type="text" class="form-control" formControlName="name" id="username" placeholder="Nome">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password1">Senha</label>
                        <input type="password" class="form-control" formControlName="password" id="password1" placeholder="Senha">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password2">Confirmar senha</label>
                        <input type="password" class="form-control" id="password2" placeholder="Confirmar senha">
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">Aceito os <a href="#">termos de compromisso.</a></label>
                    </div>
                </div>
                <button id="send" type="submit" class="btn btn-primary">Criar conta</button>
            </form>
        </div>
    </div>
</div>